@font-face {
  font-family: BlackCarrot;
  src: url('/assets/fonts/BlackCarrot.ttf');
}

body {
  background-color: #030;
}

#engine {
    position: relative;
    width: 640px;
    height: 540px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin: 0 auto;
    font-family: BlackCarrot, serif;
    font-size: 14pt;
    color: black;
}

.info {
    display: table-cell;
    vertical-align: middle;
}

.hidden {
    display: none;
}

.show {
    display: table;
}

#mainMenu {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    width: 640px;
    height: 540px;
    background-image:url('/assets/textures/DropletDestinyTitle-small.png');
    background-repeat: no-repeat;
}

    #playButtonM:hover {
        color: green;
        cursor: pointer;
    }

    #creditsButtonM:hover {
        color: green;
        cursor: pointer;
    }

#creditsMenu {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    width: 640px;
    height: 540px;
    background-image:url('/assets/textures/DropletDestinyTitle-small.png');
    background-repeat: no-repeat;
}

    #mainMenuButtonC:hover {
        color: green;
        cursor: pointer;
    }

#pauseMenu {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    width: 640px;
    height: 540px;
    background-image:url('/assets/textures/DropletDestinyTitle-small.png');
    background-repeat: no-repeat;
}

    #resumeButtonP:hover {
        color: green;
    }

    #quitButtonP:hover {
        color: green;
        cursor: pointer;
    }

#gameOverMenu {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    width: 640px;
    height: 540px;
    background-image:url('/assets/textures/DropletDestinyTitle-small.png');
    background-repeat: no-repeat;
}

    #replayButtonGO:hover {
        color: green;
        cursor: pointer;
    }

    #mainMenuButtonGO:hover {
        color: green;
        cursor: pointer;
    }
